<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mapper.JjimMapper">

	<select id="select" resultType="jjim" parameterType="string">
		select * from jjim where id = #{id}
	</select>
	<insert id="insert" parameterType="jjim">
		insert into jjim(id,code,amount,foodname)
		values(#{id},#{code},#{amount},#{foodname})
	</insert>

	<delete id="delete" parameterType="int">
		delete from jjim where idx = #{idx}
	</delete>

	<resultMap type="jjim" id="jjimDefault">
		<id column="idx" property="idx" />
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="amount" property="amount" />
		<result column="foodname" property="foodname" />
	</resultMap>
</mapper>
