<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mapper.MemberMapper">
	<!-- int insertMember(SqlSession session, Member member) throws SQLException; -->
	<!-- boolean LoginMember(SqlSession session, String id, String pw) throws 
		SQLException; -->
	<!-- Member searchMember(SqlSession session, String id) throws SQLException; -->
	<!-- int updateMember(SqlSession session, Member member) throws SQLException; -->
	<!-- public void deleteMember(SqlSession session, String id) throws SQLException; -->
	<!-- List<Member> searchAll() throws SQLException; -->

	<insert id="insertMember" parameterType="member">
		insert into signup
		values (#{id}, #{pw}, #{name}, #{phone}, #{email}, #{allergy});
	</insert>

	<select id="loginMember" parameterType="member"
		resultMap="memberDefault">
		select * from signup where id = #{id} and pw = #{pw};
	</select>

	<select id="searchMember" parameterType="string"
		resultMap="memberDefault">
		select * from signup where id = #{id};
	</select>

	<select id="checkLogin" parameterType="string"
		resultMap="memberDefault">
		select * from signup where id = #{id};
	</select>

	<update id="updateMember" parameterType="member">
		update signup set pw =
		#{pw}, name = #{name}, phone = #{phone}, email = #{email}, allergy =
		#{allergy} where id = #{id};
	</update>

	<delete id="deleteMember">
		delete from signup where id=#{id};
	</delete>

	<select id="searchAll" resultType="member">
		select * from signup;
	</select>

	<select id="eatMember" parameterType="string"
		resultMap="memberExtend">
		select * from signup join eat using(id) where id = #{id};
	</select>

	<resultMap type="member" id="memberDefault">
		<id column="id" property="id" />
		<result column="pw" property="pw" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="allergy" property="allergy" />
	</resultMap>

	<!-- 확장형 Map -->
	<resultMap type="member" id="memberExtend"
		extends="memberDefault">
		<collection property="eatlist" ofType="eat"
			resultMap="com.ssafy.mapper.EatMapper.eatDefault">
		</collection>
	</resultMap>
</mapper>